{% extends "layout.html" %}

{% block title %}
    Add Medicine
{% endblock %}

{% block main %}
    <form action="/add" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" size="35" placeholder="Medicine" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="time1" name="time1" size="35" placeholder="Scheduled Time e.g. 10:00" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="time2" name="time2" size="35" placeholder="Scheduled Time e.g. 16:00" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="time3" name="time3" size="35" placeholder="Scheduled Time e.g. 20:00" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}
