{% extends "layout.html" %}

{% block title %}
  Delete Medicine
{% endblock %}

{% block main %}
    <form action="/delete" method="post">
        <div class="mb-3">
            <select name="name" id="name">
                {% for medicine in medicines %}
                <option value="{{ medicine.name }}">{{ medicine.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Delete</button>
    </form>
{% endblock %}
